* {
    font-family: Arial, Helvetica, sans-serif;
}

#headerID {
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

#main {
    text-align: center;
    padding-top: 1rem;
    overflow-wrap: break-word;
}

ul li {
    text-align: left;
    font-size: large;
}

.cardBtn {
    border: 2px solid black;
    border-radius: 35px;
    width: 10%;
    height: 50px;
    margin: 8px;
}

#cardContainer,
#cardBtn {
    display: flexbox;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
}